body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: Helvetica,"Helvetica Neue",Arial,"Lucida Grande",sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #333;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman",Times,serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin: 0 0 1em;
  line-height: 1.4;
  color: #333;
}
button, input, select, textarea {
  font-size: 15px;
  font-family: Helvetica,"Helvetica Neue",Arial,"Lucida Grande",sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #333;
  line-height: 1.6;
}